@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  margin: 40px 0px 20px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(151,0,249,1);
  border: solid 3px white;
  border-radius: 10px;
  margin: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(151,0,249,.8);
}